layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="ProjectSnabjenie" focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="50%" {
                pane {
                    cwd "/home/mxm/.config"
                }
                pane size="40%" {
                    command "htop"
                }
            }
            pane split_direction="horizontal" size="50%" {
                pane size="70%" {
                    cwd "/mnt/c/Project/ProjectSnabjenie"
                    command "zsh"
                    args "-i" "-c" "n ."
                }
                pane size="30%" {
                    cwd "/mnt/c/Project/ProjectSnabjenie"
                }
            }
        }
    }

    tab name="Config" {
        pane {
            cwd "/home/mxm/.config"
        }
    }
}

